body {
    margin: 0 auto;
    width: 600px;
    font-family: 'Smythe', sans-serif;
    color: #353535;
}


header {
    position: relative;
}

.header-img {
    margin-bottom: 40px;
}

.head-title {
    position: absolute;
    top: 30px;
    left: 46px;
    color: #FFFFFF;
}

.strapline {
    font-size: 22.5px;
    margin: 0;
}

main {
    width: 508px;
    position: relative
}

.product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 40px auto 0;
    height: 140px;
    border-bottom: #8B8B8B solid 1px;
}

.product-details {
    width: 230px;
}

.product-img {
    width: 110px;
}

.product-img p {
    font-size: 75px;
    margin: 0;
}

i {
    color: #474747;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    padding: 18px;
}

.plus-icon {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

h1 {
    margin: 0 0 8px;
    font-size: 39px;
}

h2 {
    font-size: 28px;
    margin: 0 auto;
}

h4 {
    font-size: 16px;  
    margin: 0 auto 13px;
    color: #8B8B8B;   
}

h3 {
    font-size: 20px;
    margin: 0;
}



/* Recap Order Section */

.recap-title {
    text-align: center;
    margin-bottom: 43px;
}

.order-recap {
    margin: 45px auto 0;
    border-bottom: #393333 solid 2px;
    padding-bottom: 10px;
}

.recap-product {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0px;
    margin-bottom: 10px;
}

.recap-product h2 {
    margin: 0;
}

.recap-product p {
    font-size: smaller;
    margin: 0;
    margin-left: 15px;
    color: #BBBBBB;
    font-family: 'inter', sans-serif;
}

.recap-product h3 {
    margin-left: auto;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
    margin-bottom: 46px;
}

.total-price h2, .total-price h2 {
    margin: 0;
}

.order-btn {
    margin: 0 auto;
    display: block;
    border: none;
    width: 508px;
    margin-top: 30px;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: larger;
    color: #FFFFFF;
    background-color: #16DB99;
    padding: 20px;
}

/* Payment Modal Section */

.modal {
    font-family: 'inter', sans-serif;
    margin:auto;
    padding-bottom: 10px;
    width: 508px;
    height: 500px;
    background-color: white;
    position: fixed;
    bottom: 0;
    top: 0; 
    left: 0; 
    right: 0;    
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal h2 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

input {
    width: 450px;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 20px;
    border: #757575 solid 1.3px;
}

.pay-btn {
    border: none;
    margin-top: 30px;
    font-weight: 600;
    font-size: larger;
    color: #FFFFFF;
    background-color: #16DB99;
    padding: 25px;
}

.close-btn {
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    text-align: right;
    padding-left: 480px;
    margin-top: 10px;
    margin-bottom: 0;
}

/* Greetings section */

.ty-message {
    display: none;
    margin: 45px auto 0;
    text-align: center;
    width: 508px;
    color: #065F46;
    background-color: #ECFDF5;
    font-size: 32;
    padding: 16px;
}

/* Utility Classes */

.hidden {
    display: none;
}

.plus-icon, p, button, .pay-btn, .close-btn{
    cursor: pointer;
}

